<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.container {
  position: relative;
  font-family: Arial;
}

.text-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(236, 228, 228);
  color: rgb(7, 7, 7);
  padding-left: 20px;
  padding-right: 20px;
}
.about-section {
  padding: 50px;
  text-align: center;
}
</style>
</head>
<body>

<div class="container">
  <img src="..\images\about.jpg" alt="Nature" style="width:100%;">
  <div class="text-block">
      <div class="about-section">
          <h1>ABOUT US</h4>
            <p>Art is the reflection of thoughts and representation of ideas, art is something to which everyone can connect. Artists and art lovers are the ones who form this magical amalgamation through art. Elite Arts aims to bring these thoughts and ideas together by connecting the artists and art lovers on a single platform. With the idea of providing artists with a platform where they can showcase and sell their art while the art lovers can have high-quality and modern artwork accessible. Elite Arts offers a wide collection of paintings, drawings,and artworks. From abstract paintings and modern art paintings to Radha Krishna and Buddha paintings, you can get a wide collection of different types of paintings at Elite Arts. We strive to put forth an exclusive assortment of paintings for you to explore.</p>
        </div>
    </div>
</div>

</body>
</html> 
